.tabContainer {
    display: flex;
    padding: 20px;
    .stockTabContainer, .forexTabContainer {
        padding: 5px 50px;
        border-bottom: 2px solid rgb(204, 201, 201);
        border-radius: 1px;
        cursor: pointer;
        &.selected {
            color: blue;
            border-bottom: 2px solid blue;
            background: rgb(220, 220, 244);
        }
    }
}