.Top5BrokersContainer {
    border-radius: 4px;
    box-shadow: 5px 3px 15px rgba(0,0,0,0.3);
    background: #fff;
    height: 370px;
    h2 {
        padding: 20px 0 0 20px;
        font-size: 20px;
        font-weight: 500;
    }
}